/* header configuration */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    height: 100px;
}
nav{
    padding-top: 10mm;
    height: 100px;
    background-color: brown;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 20px;
    position: relative;
    width: 100px;
    left: 50px;
}
 /* body style configuration */
 html, body {
    width: 100%;
    height:auto;
    margin: 0;
    background-color: #123E59
  }



.contaner{
    position: relative;
    width: 90%;
    padding: 5% 5%;
    height: auto;
    background-color: #123E59;
}

.reminder{
    border:solid whitesmoke;
    border-width:1px;
    position: relative;
    padding: 5%;
    width: 80%;
    height: auto;

}
.content_m{
    position: relative;
    display:inline-block;
    width: 45%; 
    margin-left: 10%;
    height: auto;
    max-width: 500px;
    
}
.top{
       position: relative;
        width: 70%;
        height: auto;
        float: left;
        max-width: 500px;
    }

img{
    width: 100%;
  max-width: 500px;
  height: auto; 
}

/* buttons next an prev of slideshow */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover{
    background-color: rgba(0,0,0,0.8);
}
.next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* ------------------------------------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .contaner{
        /* position: relative; */
        width: 100vw;
        height: 3000px;
        background-color: brown;
    }

    .reminder{
        /* position: relative; */
        width: 90%;
        padding: 5%;
        height: auto;
        background-color: white;
        
    }

    img{
        width: 100%;
        height: auto;
        float: none;
    }

    .top{
        position: relative;
        width: 100%;
        height: auto;
        float: none;
    }
    .content_m{
        width: 100%; 
        margin:0;
        height: auto;
        background-color: red;
    }
    .footer{
        height: 200px;
        background-color: dimgrey;
        width: 100%;
    }
    
    


    
}       