/* header configuration */

header{
    position: relative;
    height: 100px;
}
nav{
    padding-top: 10mm;
    height: 100px;
    background-color: brown;
}
nav a{
    color: black;
    margin: 20px;
    position: relative;
    width: 100px;
    left: 50px;
}
 /* body style configuration */
 html, body {
    width: 100%;
    height:auto;
  }



.contaner{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10% 5%;
    background-color: chartreuse;
}

.reminder{ 
    margin:10%;
    position: relative;
    width: 80%;
    padding: 5%;
    height: auto;
    background-color: burlywood;
}

.top{
       
        width: 100%;
        height: auto;
        float: left;
    }

img{
    width: 100%;
    height: auto;
    float: left;
}

.content_m{
    display:inline-block;
    width: 45%; 
    margin-left: 4%;
    height: auto;
    background-color: red;
    
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .content_m{
        display: block;
        margin: 0%;
        width: 100%; 
        height: auto;
        background-color: red;
    }
    
    img{
        width: 100%;
        height: auto;
        float: none;
    }

    .reminder{
        margin:0%;
        position: relative;
        width: 100%;
        padding: 5%;
        height: auto;
        background-color: burlywood;
        
    }
    .top{
        position: relative;
        width: 100%;
        height: auto;
        float: none;
    }


    .contaner{
        padding: 10% 0%;
        position: relative;
        width: 100%;
        height: auto;
        background-color: chartreuse;
    }
    
}   